{{template "base" .}}
{{define "title"}} Personagem {{.ID}} {{end}}

{{define "body"}}
<div class="personagemTemplate">
  <div class="personagem">
    <div class="metadata">
      <strong>{{.Nome}}</strong>
      <span>#{{.ID}}</span>
    </div>
     {{.Habilidade1}}<br>
    <img src="../static/assets/{{.Modelo}}_{{.Habilidade1}}.gif" class="dentroDoTemplate"><br>
     {{.Habilidade2}}<br>
    <img src="../static/assets/{{.Modelo}}_{{.Habilidade2}}.gif" class="dentroDoTemplate"><br>
     {{.Posicao}} <br>
     {{.Elemento}} 
    <img src="../static/assets/{{.Elemento}}.png" id="elementoImagem"><br>
    <div class="metadata">
      <time>Data de criação: {{.Created}}</time><br>
      <time>Data de expiração: {{.Expires}}</time>
    </div>
  </div>
</div>
{{end}}