{{template "base" .}}
{{define "title"}} Personagem {{.ID}} {{end}}

{{define "body"}}
  <div class="personagem">
    <div class="metadata">
      <strong>{{.Nome}}</strong>
      <span>#{{.ID}}</span>
    </div>
    <pre> <code>{{.Habilidade1}}</code> </pre>
    <pre> <code>{{.Habilidade2}}</code> </pre>
    <pre> <code>{{.Posicao}}</code> </pre>
    <pre> <code>{{.Elemento}}</code> </pre>
    <div class="metadata">
      <time>Created: {{.Created}}</time>
      <time>Expires: {{.Expires}}</time>
    </div>
  </div>
{{end}}